In [7]:
import pandas as pd

In [8]:
!pip install faker

Requirement already satisfied: faker in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (37.1.0)
Requirement already satisfied: tzdata in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from faker) (2025.2)

In [9]:
from faker import Faker
fake = Faker()

In [10]:
lista = []

In [12]:
for x in range(0,51):
    lista.append(
        {'nombre': fake.name(),'apellido' : fake.last_name(), 'ciudad' : fake.city()}
    )

In [13]:
lista

[{'nombre': 'Rachel Stafford', 'apellido': 'Cline'},
 {'nombre': 'Joseph Erickson', 'apellido': 'Vega'},
 {'nombre': 'Scott Sharp', 'apellido': 'Williams'},
 {'nombre': 'Michael Hendricks', 'apellido': 'Rose'},
 {'nombre': 'James Arias', 'apellido': 'Johnson'},
 {'nombre': 'Dawn Fleming', 'apellido': 'Brooks'},
 {'nombre': 'Kyle Fischer', 'apellido': 'Leonard'},
 {'nombre': 'Linda Brewer', 'apellido': 'Mcneil'},
 {'nombre': 'Michael Davis', 'apellido': 'Blake'},
 {'nombre': 'Joseph Odonnell', 'apellido': 'Dean'},
 {'nombre': 'Kerry Lester', 'apellido': 'Ramirez'},
 {'nombre': 'Theresa Barber', 'apellido': 'Whitehead'},
 {'nombre': 'Adriana Patton', 'apellido': 'Jones'},
 {'nombre': 'Daniel Wilkins', 'apellido': 'Smith'},
 {'nombre': 'Diane Good', 'apellido': 'Petersen'},
 {'nombre': 'Krystal Jackson', 'apellido': 'Carlson'},
 {'nombre': 'Christopher Dennis', 'apellido': 'Collins'},
 {'nombre': 'Kathleen Morton', 'apellido': 'Delgado'},
 {'nombre': 'Paul Watkins', 'apellido': 'Gonzalez'},
 {'nombre': 'Claire Goodman', 'apellido': 'Vaughn'},
 {'nombre': 'David Orozco', 'apellido': 'Cameron'},
 {'nombre': 'Robert Jensen', 'apellido': 'Rich'},
 {'nombre': 'Michael Garrett DDS', 'apellido': 'Byrd'},
 {'nombre': 'John Ward', 'apellido': 'Stevens'},
 {'nombre': 'Thomas Craig', 'apellido': 'Ross'},
 {'nombre': 'Pamela Edwards', 'apellido': 'Atkinson'},
 {'nombre': 'Kevin Diaz', 'apellido': 'Stanton'},
 {'nombre': 'Lisa Neal', 'apellido': 'Garcia'},
 {'nombre': 'Matthew Malone', 'apellido': 'Taylor'},
 {'nombre': 'David Hughes', 'apellido': 'Cowan'},
 {'nombre': 'Valerie Fuller', 'apellido': 'Yoder'},
 {'nombre': 'Timothy Nolan', 'apellido': 'Small'},
 {'nombre': 'Justin Dixon', 'apellido': 'Lane'},
 {'nombre': 'James Holden', 'apellido': 'Mueller'},
 {'nombre': 'Beth Booker', 'apellido': 'Baker'},
 {'nombre': 'Stephanie Baker', 'apellido': 'Matthews'},
 {'nombre': 'Kelly Smith', 'apellido': 'Allen'},
 {'nombre': 'Mary Miller', 'apellido': 'Gutierrez'},
 {'nombre': 'Tammy Perez', 'apellido': 'Flores'},
 {'nombre': 'Steve Bailey', 'apellido': 'Hampton'},
 {'nombre': 'Pamela Cannon', 'apellido': 'Wheeler'},
 {'nombre': 'Hailey Williams', 'apellido': 'Butler'},
 {'nombre': 'Kevin Oconnor', 'apellido': 'Davis'},
 {'nombre': 'Nicole Williamson', 'apellido': 'Ochoa'},
 {'nombre': 'Brandon Waters', 'apellido': 'Porter'},
 {'nombre': 'Christian Lewis', 'apellido': 'Woods'},
 {'nombre': 'Clinton Pena', 'apellido': 'Daniel'},
 {'nombre': 'Dale Bennett', 'apellido': 'Schwartz'},
 {'nombre': 'Carmen Medina', 'apellido': 'Holt'},
 {'nombre': 'Robin Henderson', 'apellido': 'Oconnor'},
 {'nombre': 'Jeremiah Johns', 'apellido': 'Taylor'}]

In [5]:
data = pd.DataFrame(lista)

NameError: name 'pd' is not defined

In [8]:
data

                nombre
0          Diane Tyler
1      William Bradley
2       Kendra King MD
3       Yolanda Bishop
4         Michael Gray
5         Lisa Hubbard
6          Perry Klein
7     Andrea Stevenson
8      Tiffany Roberts
9           David Ward
10    Samuel Frederick
11      Christina Diaz
12         Ashley Beck
13       Kayla Wilkins
14     Brendan Barnett
15      Martha Ramirez
16         Jacob Ortiz
17  Matthew Mccullough
18          Wanda Gill
19       Mark Johnston
20   Mr. William Beard
21       Kathryn Dixon
22     Thomas Cummings
23      Dylan Williams
24     Jaclyn Mitchell
25   Edward Hutchinson
26        Michael King
27     Ms. Tanya Evans
28       Catherine Ray
29         David Walsh
30   Krystal Alexander
31          Allen Hill
32       Tracey Morgan
33       Harold Stokes
34       Ann Hernandez
35        Luis Skinner
36         Emily Lyons
37        Brett Knight
38        Cindy Barnes
39       Tonya Gardner
40      Keith Atkinson
41      Jonathan Ortiz
42          Sean Brown
43       Molly Shelton
44  Kimberly Castaneda
45         Johnny Mayo
46         Lori Watson
47          Ann Carter
48        Jason Carter
49    Benjamin Patrick
50        Peter Melton

In [9]:
data.to_csv("misdata.csv", index=False)